In [16]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [9]:
data=pd.read_csv('Sales_Add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [ ]:
#Checking whether there is any increase in sales after stepping into digital marketing
# Hypothesis
#H0:There is no increase in sales after stepping into digital marketing
#H1:There is an increase in sales after stepping into digital marketing

In [10]:
from scipy.stats import ttest_ind

In [12]:
before_data=data['Sales_before_digital_add(in $)']
after_data=data['Sales_After_digital_add(in $)']

In [13]:
ttest_ind(before_data,after_data)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

##Since pvalue is very less than .05 it indicates that we can reject null hypothesis. So we accept the alternative  hypothesis that there is an increase in sales after stepping into digital marketing

# Checking  whether there is any dependency between the features “Region” and “Manager”.

In [14]:
data_table=pd.crosstab(data['Region'],data['Manager'])
print(data_table)

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [ ]:
# Hypothesis
#H0:There is no dependency between Region and Manager
#H1:There is dependency between Region and Manager

In [23]:
from scipy.stats import chi2_contingency

In [24]:
chiVal, pVal, df, exp = chi2_contingency(data_table)
chiVal, pVal, df, exp

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [26]:
critical_value=stats.chi2.ppf(1-0.05,4)
print('critical_value:',critical_value)

critical_value: 9.487729036781154

In [27]:
if(chiVal>critical_value and pvalue<0.05):
    print('Reject H0: Region and Manager features are independent')
else:
    print('Reject H1:Region and Manager features are dependent')

Reject H1:Region and Manager features are dependent

In [ ]:
#As per Chi square test for independence the Features Region and Manager are independent